*.swp
*.swo
*.pyc
*.pyd
*.pyo
*.so
*.egg-info/
.eggs/
.pyre/
__pycache__/
.tox/
docs/build/
dist/
docs/source/.ipynb_checkpoints/
build/
libcst/_version.py
.coverage
.hypothesis/
.python-version
target/
venv/
.venv/
.idea/
