*.swp
*.swo
*.pyc
*.pyo
*.egg-info/
.eggs/
.pyre/
__pycache__/
.tox/
docs/build/
dist/
docs/source/.ipynb_checkpoints/
build/
libcst/_version.py
.coverage
.hypothesis/
.pyre_configuration
.python-version
