[tool.black]
target-version = ["py36"]

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
lines_after_imports = 2
combine_as_imports = true
not_skip = "__init__.py"
