black==22.8.0
coverage>=4.5.4
fixit==0.1.1
flake8>=3.7.8,<5
Sphinx>=5.1.1
hypothesis>=4.36.0
hypothesmith>=0.0.4
jupyter>=1.0.0
maturin>=0.8.3,<0.14
nbsphinx>=0.4.2
prompt-toolkit>=2.0.9
pyre-check==0.9.9; platform_system != "Windows"
setuptools_scm>=6.0.1
sphinx-rtd-theme>=0.4.3
ufmt==2.0.0
usort==1.0.4
setuptools-rust>=0.12.1
slotscheck>=0.7.1
jinja2==3.1.2
