{
    "exclude": [
        ".*\/native\/.*"
    ],
    "source_directories": [
        "."
    ],
    "search_path": [
        "stubs", "{{ .python_site_packages }}"
    ],
    "workers": 3,
    "strict": true
}
