name: build
on:
  workflow_call:

jobs:
  # Build python wheels
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    env:
      SCCACHE_VERSION: 0.2.13
      GITHUB_WORKSPACE: "${{github.workspace}}"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          cache: pip
          cache-dependency-path: "pyproject.toml"
          python-version: "3.12"
      - name: Disable scmtools local scheme
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: >-
          echo LIBCST_NO_LOCAL_SCHEME=1 >> $GITHUB_ENV
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
      - uses: actions/upload-artifact@v4
        with:
          path: wheelhouse/*.whl
          name: wheels-${{matrix.os}}
